.target{
    padding: 25px;
    /*width: 450px;*/
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background: mediumturquoise;
}

.card {
    width: 400px;
    height: 150px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc(25% - 200px);
    margin-left: calc(25% - 200px);
    margin-top: 25px;
    margin-bottom: 25px;
    background: aliceblue;
    border-radius: 5px;
}

.icon{
    text-align: center;
    color: silver;
    font-size: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text>h3{
    font-style: italic;
    text-align: center;
    color: darkorange;
}
.text>p{
    font-style: initial;
    text-align:justify;
    color: grey;
    margin: 10px;
}
