.page{
    /*background: forestgreen;*/
    height: 700px;
    width: 100vw;
}
.a{
    background:silver ;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    height: 20%;
}
.father{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    /*align-items: center;*/
}
.card{
    background: azure;
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.f{
    background: #37d298;
    border: 2px solid black;
    border-radius: 5px;
    width: 24%;
    height: 100%;
}
.box{
    border: 2px solid black;
    border-radius: 5px;
    background: silver;
}
.b{
    width: 100%;
    height: 49%;
}
.c{
    width: 32%;
    height: 49%;
}

@media screen and (max-width: 800px) {
    .page{
        height: 700px;
        width: 100 vw;
    }
    .card {
        width: 100%;
        height: 70%;
    }
    .f{
        width: 100%;
        height: 30%;
    }
    .b{
        height: 40%;
    }
    .c{
        width: 25%;
        height: 40%;
    }









}